---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/_/proxy/modules
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET okapi-2.0.0 /_/proxy/modules : 200'
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "id" : "okapi-2.0.0",
          "name" : "okapi-2.0.0"
        }, {
          "id" : "mod-users-bl-2.1.1-SNAPSHOT",
          "name" : "users business logic"
        }, {
          "id" : "mod-users-14.2.0",
          "name" : "users"
        }, {
          "id" : "mod-permissions-5.0.1-SNAPSHOT",
          "name" : "permissions"
        }, {
          "id" : "mod-login-4.0.1-SNAPSHOT",
          "name" : "login"
        }, {
          "id" : "mod-kb-ebsco-0.1.0",
          "name" : "kb-ebsco"
        }, {
          "id" : "mod-configuration-3.0.1-SNAPSHOT",
          "name" : "Configuration"
        }, {
          "id" : "mod-authtoken-1.0.1-SNAPSHOT",
          "name" : "authtoken"
        } ]
  recorded_at: Mon, 09 Oct 2017 19:36:52 GMT
- request:
    method: post
    uri: https://okapi.frontside.io/authn/login
    body:
      encoding: UTF-8
      string: '{"username":"username","password":"password"}'
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'POST mod-authtoken-1.0.1-SNAPSHOT http://10.15.251.168:80/authn/login : 202'
      - 'POST mod-login-4.0.1-SNAPSHOT http://10.15.241.175:80/authn/login : 201 186493us'
      X-Okapi-Token:
      - <OKAPI_TEST_TOKEN>
      X-Real-Ip:
      - 10.128.0.7
      X-Original-Uri:
      - "/authn/login"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/authn/login"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 899400/authn
      X-Okapi-Url:
      - http://10.15.254.182:80
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.0.1-SNAPSHOT":["perms.users.get"],"mod-login-4.0.1-SNAPSHOT":["auth.signtoken","users.collection.get"]}'
      X-Okapi-Permissions:
      - "[]"
    body:
      encoding: UTF-8
      string: |-
        {
          "username" : "username",
          "password" : "password"
        }
  recorded_at: Mon, 09 Oct 2017 19:39:39 GMT
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - <OKAPI_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.0.1-SNAPSHOT http://10.15.251.168:80/configurations/entries
        : 202'
      - 'GET mod-configuration-3.0.1-SNAPSHOT http://10.15.255.252:80/configurations/entries
        : 200 80141us'
      X-Real-Ip:
      - 10.128.0.7
      X-Original-Uri:
      - "/configurations/entries"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 336068/configurations
      X-Okapi-Url:
      - http://10.15.254.182:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.0.1-SNAPSHOT":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - <OKAPI_TEST_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "5c09a96f-868d-4956-bdc1-1d3299bb9a4c",
            "module" : "SETTINGS",
            "configName" : "locale",
            "code" : "system.timezone.en",
            "description" : "timezone",
            "default" : true,
            "enabled" : true,
            "value" : "GMT-04:00"
          }, {
            "id" : "2bf53c72-9d02-49bc-907c-2a1430f6db02",
            "module" : "SETTINGS",
            "configName" : "locale",
            "code" : "system.timezone.en",
            "description" : "timezone",
            "default" : true,
            "enabled" : true,
            "value" : "GMT-04:00",
            "userId" : "joeshmoe"
          }, {
            "id" : "e9872515-aefb-4291-b0f9-1c299243088c",
            "module" : "SETTINGS",
            "configName" : "locale",
            "code" : "system.timezone_date.en",
            "description" : "timezone date format",
            "default" : true,
            "enabled" : true,
            "value" : "dd/MM/yyyy"
          }, {
            "id" : "5cdec2ba-47b0-4fd4-bde7-1977de817219",
            "module" : "SETTINGS",
            "configName" : "locale",
 [...]
