---
http_interactions:
- request:
    method: get
    uri: https://okapi-sandbox.frontside.io/_/proxy/modules
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET okapi-2.0.0 /_/proxy/modules : 200'
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "id" : "permissions-module-4.0.4",
          "name" : "permissions"
        }, {
          "id" : "okapi-2.0.0",
          "name" : "okapi-2.0.0"
        }, {
          "id" : "mod-users-bl-2.1.1-SNAPSHOT.3",
          "name" : "users business logic"
        }, {
          "id" : "mod-users-bl-2.1.1-SNAPSHOT.2",
          "name" : "users business logic"
        }, {
          "id" : "mod-users-bl-2.1.0-SNAPSHOT.87",
          "name" : "users business logic"
        }, {
          "id" : "mod-users-bl-2.1.0-SNAPSHOT.1",
          "name" : "users bu[...]
- request:
    method: get
    uri: https://okapi.frontside.io/_/proxy/modules
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "id" : "folio-mod-configuration",
          "name" : "Configuration"
        }, {
          "id" : "mod-kb-ebsco-7c3d2a6d65d7791a936ba754f72a133e891dbddf",
          "name" : "kb-ebsco"
        }, {
          "id" : "folio-mod-auth-token",
          "name" : "authtoken"
        }, {
          "id" : "folio-mod-circulation",
          "name" : "Circulation Module"
        }, {
          "id" : "folio-mod-permissions",
          "name" : "permissions"
        }, {
          "id" : "folio-mod-inventory-storage",
          "name" : "Inventory Storage Module"
        }, {
          "id" : "folio-mod-login",
          "name" : "login"
        }, {
          "id" : "folio-mod-users",
          "name" : "users"
        }, {
          "id" : "folio-mod-inventory",
          "name" : "Inventory Module"
        }, {
          "id" : "folio-mod-circulation-storage",
          "name" : "Circulation Storage Module"
        }, {
          "id" : "folio-mod-users-bl",
          "name" : "users business logic"
        } ]
  recorded_at: Mon, 16 Oct 2017 18:31:21 GMT
- request:
    method: post
    uri: https://okapi-sandbox.frontside.io/authn/login
    body:
      encoding: UTF-8
      string: '{"username":"admin","password":"admin"}'
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'POST mod-authtoken-1.0.1-SNAPSHOT.4 http://10.31.248.123:8081/authn/login
        : 202'
      - 'POST mod-login-4.0.1-SNAPSHOT.3 http://10.31.245.210:8081/authn/login : 201
        116335us'
      X-Okapi-Token:
      - eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInVzZXJfaWQiOiIxYWQ3MzdiMC1kODQ3LTExZTYtYmYyNi1jZWMwYzkzMmNlMDEiLCJ0ZW5hbnQiOiJmcyJ9.eVqezHWdAGORNB8VHZ-IlbYeHXgzEHyVd2NTQnRRe-IuIXaChBe6CiZnjdRVbzqpF58YHpCfvE6sQh_znkfAEw
      X-Real-Ip:
      - 10.128.0.11
      X-Original-Uri:
      - "/authn/login"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/authn/login"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 212825/authn
      X-Okapi-Url:
      - http://10.31.244.201:80
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.0.1-SNAPSHOT.4":["perms.users.get"],"mod-login-4.0.1-SNAPSHOT.3":["auth.signtoken","users.collection.get"]}'
      X-Okapi-Permissions:
      - "[]"
    body:
      encoding: UTF-8
      string: |-
        {
          "username" : "admin",
          "password" : "admin"
        }
  recorded_at: Mon, 16 Oct 2017 18:31:21 GMT
- request:
    method: get
    uri: https://okapi-sandbox.frontside.io/configurations/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInVzZXJfaWQiOiIxYWQ3MzdiMC1kODQ3LTExZTYtYmYyNi1jZWMwYzkzMmNlMDEiLCJ0ZW5hbnQiOiJmcyJ9.eVqezHWdAGORNB8VHZ-IlbYeHXgzEHyVd2NTQnRRe-IuIXaChBe6CiZnjdRVbzqpF58YHpCfvE6sQh_znkfAEw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.0.1-SNAPSHOT.4 http://10.31.248.123:8081/configurations/entries
        : 202'
      - 'GET mod-configuration-3.0.1-SNAPSHOT.18 http://10.31.254.128:8081/configurations/entries
        : 200 49874us'
      X-Real-Ip:
      - 10.28.1.1
      X-Original-Uri:
      - "/configurations/entries"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 986861/configurations
      X-Okapi-Url:
      - http://10.31.244.201:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.0.1-SNAPSHOT.4":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInVzZXJfaWQiOiIxYWQ3MzdiMC1kODQ3LTExZTYtYmYyNi1jZWMwYzkzMmNlMDEiLCJ0ZW5hbnQiOiJmcyJ9.eVqezHWdAGORNB8VHZ-IlbYeHXgzEHyVd2NTQnRRe-IuIXaChBe6CiZnjdRVbzqpF58YHpCfvE6sQh_znkfAEw
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "5c09a96f-868d-4956-bdc1-1d3299bb9a4c",
            "module" : "SETTINGS",
            "configName" : "locale",
            "code" : "system.timezone.en",
            "description" : "timezone",
            "default" : true,
            "enabled" : true,
            "value" : "GMT-04:00"
          }, {
            "id" : "2bf53c72-9d02-49bc-907c-2a1430f6db02",
            "module" : "SETTINGS",
            "configName" : "locale",
            "code" : "system.timezone.en",
            "description" : "timezone",
            "default" : true,
            "enabled" : true,
            "value" : "GMT-04:00",
            "userId" : "joeshmoe"
          }, {
            "id" : "e9872515-aefb-4291-b0f9-1c299243088c",
            "module" : "SETTINGS",
            "configName" : "locale",
            "code" : "system.timezone_date.en",
            "description" : "timezone date format",
            "default" : true,
            "enabled" : true,
            "value" : "dd/MM/yyyy"
          }, {
            "id" : "5cdec2ba-47b0-4fd4-bde7-1977de817219",
            "module" : "SETTINGS",
            "configName" : "locale",
 [...]
- request:
    method: post
    uri: https://okapi-sandbox.frontside.io/configurations/entries
    body:
      encoding: UTF-8
      string: '{"module":"KB_EBSCO","configName":"api_credentials","code":"kb.ebsco.credentials","description":"EBSCO
        RM-API Credentials","enabled":true,"value":"customer-id=xxx.xxx&api-key=xxx.xxxx"}'
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInVzZXJfaWQiOiIxYWQ3MzdiMC1kODQ3LTExZTYtYmYyNi1jZWMwYzkzMmNlMDEiLCJ0ZW5hbnQiOiJmcyJ9.eVqezHWdAGORNB8VHZ-IlbYeHXgzEHyVd2NTQnRRe-IuIXaChBe6CiZnjdRVbzqpF58YHpCfvE6sQh_znkfAEw
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'POST mod-authtoken-1.0.1-SNAPSHOT.4 http://10.31.248.123:8081/configurations/entries
        : 202'
      - 'POST mod-configuration-3.0.1-SNAPSHOT.18 http://10.31.254.128:8081/configurations/entries
        : 201 47879us'
      Location:
      - "/configurations/entries/4e9bb419-e8e7-407a-9261-ccf31488922e"
      X-Real-Ip:
      - 10.128.0.9
      X-Original-Uri:
      - "/configurations/entries"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 139043/configurations
      X-Okapi-Url:
      - http://10.31.244.201:80
      X-Okapi-Permissions-Required:
      - configuration.entries.item.post
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.0.1-SNAPSHOT.4":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.item.post"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInVzZXJfaWQiOiIxYWQ3MzdiMC1kODQ3LTExZTYtYmYyNi1jZWMwYzkzMmNlMDEiLCJ0ZW5hbnQiOiJmcyJ9.eVqezHWdAGORNB8VHZ-IlbYeHXgzEHyVd2NTQnRRe-IuIXaChBe6CiZnjdRVbzqpF58YHpCfvE6sQh_znkfAEw
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "4e9bb419-e8e7-407a-9261-ccf31488922e",
          "module" : "KB_EBSCO",
          "configName" : "api_credentials",
          "code" : "kb.ebsco.credentials",
          "description" : "EBSCO RM-API Credentials",
          "enabled" : true,
          "value" : "customer-id=xxx.xxx&api-key=xxx.xxxx",
          "metadata" : {
            "createdDate" : "2017-10-16T18:31:22.661+0000",
            "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
            "updatedDate" : "2017-10-16T18:31:22.661+0000",
            "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
          }
        }
  recorded_at: Mon, 16 Oct 2017 18:31:22 GMT
- request:
    method: get
    uri: https://okapi-sandbox.frontside.io/configurations/entries/4e9bb419-e8e7-407a-9261-ccf31488922e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInVzZXJfaWQiOiIxYWQ3MzdiMC1kODQ3LTExZTYtYmYyNi1jZWMwYzkzMmNlMDEiLCJ0ZW5hbnQiOiJmcyJ9.eVqezHWdAGORNB8VHZ-IlbYeHXgzEHyVd2NTQnRRe-IuIXaChBe6CiZnjdRVbzqpF58YHpC[...]
[...]
- request:
    method: get
    uri: https://okapi-sandbox.frontside.io/configurations/4e9bb419-e8e7-407a-9261-ccf31488922e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInVzZXJfaWQiOiIxYWQ3MzdiMC1kODQ3LTExZTYtYmYyNi1jZWMwYzkzMmNlMDEiLCJ0ZW5hbnQiOiJmcyJ9.eVqezHWdAGORNB8VHZ-IlbYeHXgzEHyVd2NTQnRRe-IuIXaChBe6CiZnjdRVbzqpF58YHpCfvE6sQh_znkfAEw
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: No suitable module found for http://okapi-sandbox.frontside.io/configurations/4e9bb419-e8e7-407a-9261-ccf31488922e
  recorded_at: Mon, 16 Oct 2017 18:31:23 GMT
recorded_with: VCR 3.0.3
